<header class="jumbotron subhead" id="overview">
	<h1>Translations for {{.App.Name}}</h1>
	<p class="lead">There are {{.App.StringsCount}} strings translated
		to {{.App.LangsCount}} languages, {{.App.UntranslatedCount}}
		total untranslated strings (in all languages)</p>
</header>

{{$appName := .App.Name}}
{{if len .Langs}}
<p>Languages:</p>
<ul>
  {{range .Langs}}
  <li><a href="/app/?name={{$appName}}&lang={{.Code}}">{{.Name}}</a> ({{.UntranslatedCount}} untranslated strings)</li>
  {{end}}
</ul>
{{else}}
There are no languages!
{{end}}
