<!doctype html>
<html lang="en">
<head>
<link href="/static/css/bootstrap.css" rel="stylesheet">	
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>

<div class="container">
<header class="jumbotron subhead" id="overview">
	<h1>Translations for {{.App.Name}}</h1>
	<p class="lead">There are {{.App.StringsCount}} unique strings translated
		to {{.App.LangsCount}} languages. There are {{.App.UntranslatedCount}}
		total untranslated strings (in all languages)</p>
</header>

{{$appName := .App.Name}}
{{if len .Langs}}
<p>Applications:</p>
<ul>
  {{range .Langs}}
  <li><a href="/app/?name={{$appName}}&lang={{.Code}}">{{.Name}}</a> ({{len .Untranslated}} untranslated strings)</li>
  {{end}}
</ul>
{{else}}
There are no languages!
{{end}}

<hr>
<center>App Translator lovingly crafted by <a href="http://blog.kowalczyk.info">Krzysztof Kowalczyk<a></center>

<!-- placed at the end for faster loading -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

</body>
</html>
