<!doctype html>
<html lang="en">
<head>
<link href="/static/css/bootstrap.css" rel="stylesheet">	
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<style type=text/css>
.trans {
	padding-top: 2px;
	padding-bottom: 2px;
}

.trans:hover {
	background-color: #fafafa;
}

.inline-progress {
	margin-bottom: -5px;
	display: inline-block;
}

</style>
</head>

<body>

<div class="container">
<header class="jumbotron subhead" id="overview">
	<h1>{{.LangInfo.Name}} translations for <a href="/app/?name={{.App.Name}}">{{.App.Name}}</a>
		 <span style="font-size:50%;float:right;">{{if .User}}Logged in as {{.User}} (<a href="/logout?redirect={{.RedirectUrl}}">logout</a>){{else}}Not logged in. <a href="/login?redirect={{.RedirectUrl}}">Log in with Twitter</a>{{end}}</span>
	</h1>
	<div class="lead">There are {{.LangInfo.UntranslatedCount}} untranslated strings, {{ .StringsCount}} total strings </div>
	<div>Progress: 
		<div style="width:256px" class="progress inline-progress">
			<div class="bar inline-progress" style="width: {{.TransProgressPercent}}%;">
			</div>
		</div> {{.TransProgressPercent}}%
	</div>
</header>

<p style="margin-bottom:24px"></p>

{{if .ShowTranslationEditedMsg}}
<div class="alert alert-success">
  <button class="close" data-dismiss="alert">×</button>
  Translation successfully edited!
</div>
{{end}}

{{if len .LangInfo.Translations}}
	{{range $idx, $el := .LangInfo.Translations}}
	<div class="trans" id="idTrans{{$idx}}">
		<span class="origstr">{{.String}}</span>
		{{if len .Translations}}
			<span style="color:blue">=&gt;</span>
			<span class="transstr">{{.Current}}</span> <a href="#" class="editbtn" id="idEdit{{$idx}}">Edit</a>
		{{else}}
			<a href="#" class="addbtn" id="idEdit{{$idx}}">Add translation...</a>
		{{end}}
	</div>
	{{end}}
{{end}}

{{if .User}}
<div class="modal hide" id="idEditTrans">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3><span id="idEditTransHdr"></span></h3>
	</div>
	<div>
		<form class="well" action="/edittranslation" method="POST">
			<div class="modal-body">
				<label>String:</label>
				<textarea rows=3 readonly="readonly" name="string" id="idEditFormString" style="width:90%"></textarea>
				<label>Translation:</label>
				<textarea rows=3 name="translation" id="idEditFormTrans" style="width:90%"></textarea>
				<input type="hidden" name="app" value="{{.App.Name}}">
				<input type="hidden" name="lang" value="{{.LangInfo.Code}}">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="#" class="btn"data-dismiss="modal">Cancel</a>
			</div>
		</form>
	</div>
</div>
{{else}}
<div class="modal hide" id="idEditTrans">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3><span id="idEditTransHdr"></span></h3>
	</div>
	<div>
		<form class="well" action="/edittranslation" method="POST">
			<div class="modal-body">
				You must be logged in to edit translations.
				<a href="/login?redirect={{.RedirectUrl}}">Log in with Twitter</a>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn"data-dismiss="modal">Ok</a>
			</div>
		</form>
	</div>
</div>
{{end}}

<hr style="margin:4px">
<center style="padding-bottom:12px"><a href="/">App Translator</a>, lovingly crafted by <a href="http://blog.kowalczyk.info">Krzysztof Kowalczyk<a></center>

<!-- placed at the end for faster loading -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

<script>

$(document).ready(function() {
	$(".addbtn").click(function() {
		$("#idEditTransHdr").text("Add translation");
		var el = $(this).parent().find(".origstr");
		$("#idEditFormString").text(el.text());
		$("#idEditFormTrans").text("");
		$("#idEditTrans").modal('show');
		$("#idEditFormTrans").focus();
	});

	$(".editbtn").click(function() {
		$("#idEditTransHdr").text("Edit translation");
		var el = $(this).parent().find(".origstr");
		$("#idEditFormString").text(el.text());
		el = $(this).parent().find(".transstr");
		$("#idEditFormTrans").text(el.text());
		$("#idEditTrans").modal('show');
		$("#idEditFormTrans").focus();
	});

});

</script>

</body>
</html>
