<!doctype html>
<html lang="en">
<head>
	<title>AppTranslator</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link href="/s/css/bootstrap.css" rel="stylesheet">
	<link href="/s/css/bootstrap-responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style type="text/css">
	.trans {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.trans:hover {
		background-color: #fafafa;
	}
	.inline-progress {
		margin-bottom: -5px;
		display: inline-block;
	}
	</style>
</head>

<body>

<div class="container">
<header class="jumbotron subhead" id="overview">
	<h2><a href="/">Home</a> : <a href="/app/{{.App.Name}}">{{.App.Name}}</a> : {{.LangInfo.Name}} translations
		 <span style="font-size:50%;float:right;">{{if .User}}Logged in as {{.User}} (<a href="/logout?redirect={{.RedirectUrl}}">logout</a>){{else}}Not logged in. <a href="/login?redirect={{.RedirectUrl}}">Log in with Twitter</a>{{end}}</span>
	</h2>
	<div class="lead">{{.LangInfo.UntranslatedCount}} untranslated out of {{ .StringsCount}} total strings </div>

    {{if .Message}}
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert">×</button>
            {{.Message}}
        </div>
    {{end}}

	<div>Progress:
		<div style="width:256px" class="progress inline-progress">
			<div class="bar inline-progress" style="width: {{.TransProgressPercent}}%;">
			</div>
		</div> {{.TransProgressPercent}}%
	</div>
</header>

<p style="margin-bottom:16px"></p>

{{$canDuplicate := .UserIsAdmin}}

{{range .LangInfo.ActiveStrings}}
<div class="trans" id="idTrans{{.Id}}">
	<span class="origstr">{{.String}}</span>
	{{if .Current}}
		<span style="color:blue">=&gt;</span>
		<span class="transstr">{{.Current}}</span> <a href="#" class="editbtn" id="idEdit{{.Id}}">Edit</a>

		{{if $canDuplicate}}
		&bull;&nbsp;<a href="#" class="dupbtn" id="idDup{{.Id}}">Duplicate translation...</a>
		{{end}}

		{{range .History}}
		<br><span style="color: #888;padding-left:28px">previous: {{.}}</span>
		{{end}}
	{{else}}
		<a href="#" class="addbtn" id="idEdit{{.Id}}">Add a translation...</a>

		{{if $canDuplicate}}
		&bull;&nbsp;<a href="#" class="dupbtn" id="idDup{{.Id}}">Duplicate translation...</a>
		{{end}}
	{{end}}
</div>
{{end}}

{{if len .LangInfo.UnusedStrings}}
<p></p>
<p>
<b>{{len .LangInfo.UnusedStrings}} unused strings:</b><br>
	{{range .LangInfo.UnusedStrings}}
	<div class="trans" id="idTrans{{.Id}}">
		<span class="origstr">{{.String}}</span>
		{{if .Current}}
			<span style="color:blue">=&gt;</span>
			<span class="transstr">{{.Current}}</span>

			{{if $canDuplicate}}
			&bull;&nbsp;<a href="#" class="dupbtn" id="idDup{{.Id}}">Duplicate translation...</a>
			{{end}}

			{{range .History}}
			<br><span style="color: #888;padding-left:28px">previous: {{.}}</span>
			{{end}}
		{{else}}
			{{if $canDuplicate}}
			&bull;&nbsp;<a href="#" class="dupbtn" id="idDup{{.Id}}">Duplicate translation...</a>
			{{end}}
		{{end}}
	</div>
	{{end}}
</p>
{{end}}

<div class="modal hide" id="idEditTrans">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3><span id="idEditTransHdr"></span></h3>
	</div>

	{{if .User}}
	<div>
		<form class="well" action="/edittranslation" method="POST">
			<div class="modal-body">
				<label>String:</label>
				<textarea rows="3" readonly="readonly" name="string" id="idEditFormString" style="width:90%"></textarea>
				<label>Translation:</label>
				<textarea rows="3" name="translation" id="idEditFormTrans" style="width:90%"></textarea>
				<input type="hidden" name="app" value="{{.App.Name}}">
				<input type="hidden" name="lang" value="{{.LangInfo.Code}}">
				<p id="mismatchedStringFormattingError" style="color:red;visibility:hidden"><bold>
					<span id="mismatchedStringMsg"></span>
				</bold></p>
				<p></p>
				<p>Note: by adding/editing a translation you agree to place your translations
				into <a href="http://en.wikipedia.org/wiki/Public_domain">Public Domain</a>.</p>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
		</form>
	</div>
	{{else}}
	<div>
		<form class="well" action="/nowhere" method="POST">
			<div class="modal-body">
				<p>You must be logged in to edit translations.
				<a href="/login?redirect={{.RedirectUrl}}">Log in with Twitter</a>.</p>

				<p>Note: by logging in you agree that your translations
				are placed into <a href="http://en.wikipedia.org/wiki/Public_domain">Public Domain</a>.</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</form>
	</div>
	{{end}}
</div>

{{if $canDuplicate}}
<div class="modal hide" id="idDupTrans">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3><span id="idDupTransHdr"></span></h3>
    </div>
    <div>
        <form class="well" action="/duptranslation?lang={{.LangInfo.Code}}" method="POST">
            <div class="modal-body">
                <label>Duplicate translation of string:</label>
                <textarea rows="3" readonly="readonly" name="string" id="idDupFormString" style="width:90%"></textarea>
                <label>As:</label>
                <textarea rows="3" name="duplicate" id="idDupFormTrans" style="width:90%"></textarea>
                <input type="hidden" name="app" value="{{.App.Name}}">
                <p id="mismatchedDupStringFormattingError" style="color:red;visibility:hidden"><bold>
                    <span id="mismatchedDupStringMsg">Error: new string cannot be empty, the same and string formatting directives (%s, %d etc.) must be in the same order.</span>
                </bold></p>
                <p></p>
                <p>Note: by adding/editing a translation you agree to place your translations
                into <a href="http://en.wikipedia.org/wiki/Public_domain">Public Domain</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </form>
    </div>
</div>
{{end}}

<hr style="margin:4px">
<center style="padding-bottom:12px"><a href="https://github.com/kjk/apptranslator">App Translator</a>, lovingly crafted by <a href="http://blog.kowalczyk.info">Krzysztof Kowalczyk</a></center>

</div>

<!-- placed at the end for faster loading -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/s/js/bootstrap.js"></script>

<script>

// extract formatting string modifiers (%d, %s etc.) from both s1
// and s2 and return true if they are in the same order
function stringFormattingModifiersAreSame(s1, s2) {
	var a1 = extractFormattingModifiers(s1);
	var a2 = extractFormattingModifiers(s2);
	if (a1.length != a2.length) { return false; }
	var l = a1.length;
	for (var i=0; i<a1.length; i++) {
		if (a1[i] != a2[i]) { return false; }
	}
	return true;
}

// extract string formatting instructions (%s, %d etc.) from s
// and return as an array
function extractFormattingModifiers(s) {
	var res = new Array;
	for (var i=0; i<s.length; i++) {
		var c = s[i];
		if (c == '%') {
			res.push(s[++i]);
		}
	}
	return res;
}

// $translation of a given $text can be submitted if it's not an empty
// string and if their string formatting instructions (%d, %s etc.) match
function canSubmitTranslationError(text, translation) {
	var t = $.trim(translation);
	if (t.length === 0) {
		return "Error: string cannot be empty";
	}
	if (!stringFormattingModifiersAreSame(text, translation)) {
		return "Error: string formatting directives (%s, %d etc.) must be in the same order.";
	}
	return null;
}

// 1. can't be the same
// 2. their string formatting instructions (%d, %s etc.) match
function canSubmitDuplicationError(orig, curr) {
    var t = $.trim(curr);
	if (orig === t) {
		return "Error: strings cannot be the same";
	}
    return canSubmitTranslationError(orig, curr);
}

var prevTranslationValue = "";
function updateEditTransState() {
	prevTranslationValue = $("#idEditFormTrans").val();
	var errorMsg = null;
	var txt = $("#idEditFormString").text();
	var errorMsg = canSubmitTranslationError(txt, prevTranslationValue);
	if (errorMsg === null) {
		$("button[type=submit]").removeAttr("disabled");
		$("#mismatchedStringFormattingError").css({"visibility":"hidden"});
	} else {
		$("button[type=submit]").attr("disabled", "disabled");
		$("#mismatchedStringFormattingError").css({"visibility":"visible"});
		$("#mismatchedStringMsg").text(errorMsg);
	}
}

var prevDupValue = "";
function updateDupTransState() {
	var orig = $("#idDupFormString").text();
	prevDupValue = $("#idDupFormTrans").val();
	var errorMsg = canSubmitDuplicationError(orig, prevDupValue);
	if (errorMsg === null) {
		$("button[type=submit]").removeAttr("disabled");
		$("#mismatchedDupStringFormattingError").css({"visibility":"hidden"});
	} else {
		$("button[type=submit]").attr("disabled", "disabled");
		$("#mismatchedDupStringFormattingError").css({"visibility":"visible"});
		$("#mismatchedDupStringMsg").text(errorMsg);
	}
}

$(document).ready(function() {

	$(".addbtn").click(function() {
		$("#idEditTransHdr").text("Add a translation");
		var el = $(this).parent().find(".origstr");
		$("#idEditFormString").text(el.text());
		$("#idEditFormTrans").val("");
		$("#idEditTrans").modal('show');
		$("#idEditFormTrans").focus();
		updateEditTransState();
	});

	$(".editbtn").click(function() {
		$("#idEditTransHdr").text("Edit translation");
		var el = $(this).parent().find(".origstr");
		$("#idEditFormString").text(el.text());
		el = $(this).parent().find(".transstr");
		$("#idEditFormTrans").val(el.text());
		$("#idEditTrans").modal('show');
		$("#idEditFormTrans").focus();
		updateEditTransState();
	});

	$("#idEditFormTrans").bind("keyup paste", function(e) {
		if ($(this).val() == prevTranslationValue) { return; }
		updateEditTransState();
	});

	$(".dupbtn").click(function() {
		$("#idDupTransHdr").text("Duplicate translation");
		var el = $(this).parent().find(".origstr");
		var s = el.text()
		$("#idDupFormString").text(s);
		$("#idDupFormTrans").text(s);
		$("#idDupTrans").modal('show');
		$("#idDupFormTrans").focus();
		updateDupTransState();
	});

	$("#idDupFormTrans").bind("keyup paste", function(e) {
		if ($(this).val() == prevDupValue) { return; }
		updateDupTransState();
	});
});

</script>

</body>
</html>
