<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link href="/s/css/bootstrap.css" rel="stylesheet">
	<link href="/s/css/bootstrap-responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style type=text/css>
	.trans {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.trans:hover {
		background-color: #fafafa;
	}
	.inline-progress {
		margin-bottom: -5px;
		display: inline-block;
	}
	</style>
</head>

<body>

<div class="container">
<header class="jumbotron subhead" id="overview">
	<h2><a href="/">Home</a> : <a href="/app/{{.App.Name}}">{{.App.Name}}</a> : {{.LangInfo.Name}} translations
		 <span style="font-size:50%;float:right;">{{if .User}}Logged in as {{.User}} (<a href="/logout?redirect={{.RedirectUrl}}">logout</a>){{else}}Not logged in. <a href="/login?redirect={{.RedirectUrl}}">Log in with Twitter</a>{{end}}</span>
	</h2>
	<div class="lead">{{.LangInfo.UntranslatedCount}} untranslated out of {{ .StringsCount}} total strings </div>
	<div>Progress:
		<div style="width:256px" class="progress inline-progress">
			<div class="bar inline-progress" style="width: {{.TransProgressPercent}}%;">
			</div>
		</div> {{.TransProgressPercent}}%
	</div>
</header>

<p style="margin-bottom:24px"></p>

{{$canDuplicate := .UserIsAdmin}}

{{if .ShowTranslationEditedMsg}}
<div class="alert alert-success">
  <button class="close" data-dismiss="alert">×</button>
  Translation successfully edited!
</div>
{{end}}

{{if len .LangInfo.Translations}}
	{{range $idx, $el := .LangInfo.Translations}}
	<div class="trans" id="idTrans{{$idx}}">
		<span class="origstr">{{.String}}</span>
		{{if .Current}}
			<span style="color:blue">=&gt;</span>
			<span class="transstr">{{.Current}}</span> <a href="#" class="editbtn" id="idEdit{{$idx}}">Edit</a>

			{{if $canDuplicate}}
			&bull;&nbsp;<a href="#" class="dupbtn" id="idDup{{$idx}}">Duplicate translation...</a>
			{{end}}

			{{range .History}}
			<br><span style="color: #888;padding-left:28px">previous: {{.}}</span>
			{{end}}
		{{else}}
			<a href="#" class="addbtn" id="idEdit{{$idx}}">Add a translation...</a>

			{{if $canDuplicate}}
			&bull;&nbsp;<a href="#" class="dupbtn" id="idDup{{$idx}}">Duplicate translation...</a>
			{{end}}

		{{end}}
	</div>
	{{end}}
{{end}}

<div class="modal hide" id="idEditTrans">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3><span id="idEditTransHdr"></span></h3>
	</div>

	{{if .User}}
	<div>
		<form class="well" action="/edittranslation" method="POST">
			<div class="modal-body">
				<label>String:</label>
				<textarea rows=3 readonly="readonly" name="string" id="idEditFormString" style="width:90%"></textarea>
				<label>Translation:</label>
				<textarea rows=3 name="translation" id="idEditFormTrans" style="width:90%"></textarea>
				<input type="hidden" name="app" value="{{.App.Name}}">
				<input type="hidden" name="lang" value="{{.LangInfo.Code}}">
				<p id="mismatchedStringFormattingError" style="color:red;visibility:hidden"><bold>
					Error: translation cannot be empty and string formatting directives (%s, %d etc.)
					must be in the same order.
				</bold></p>
				<p></p>
				<p>Note: by adding/editing a translation you agree to place your translations
				into <a href="http://en.wikipedia.org/wiki/Public_domain">Public Domain</a>.</p>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
		</form>
	</div>
	{{else}}
	<div>
		<form class="well" action="/nowhere" method="POST">
			<div class="modal-body">
				<p>You must be logged in to edit translations.
				<a href="/login?redirect={{.RedirectUrl}}">Log in with Twitter</a>.</p>

				<p>Note: by logging in you agree that your translations
				are placed into <a href="http://en.wikipedia.org/wiki/Public_domain">Public Domain</a>.</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</form>
	</div>
	{{end}}
</div>

{{if $canDuplicate}}
<div class="modal hide" id="idDupTrans">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3><span id="idDupTransHdr"></span></h3>
    </div>
    <div>
        <form class="well" action="/duptranslation" method="POST">
            <div class="modal-body">
                <label>Duplicate translation of string:</label>
                <textarea rows=3 readonly="readonly" name="string" id="idDupFormString" style="width:90%"></textarea>
                <label>As:</label>
                <textarea rows=3 name="duplicate" id="idDupFormTrans" style="width:90%"></textarea>
                <input type="hidden" name="app" value="{{.App.Name}}">
                <p id="mismatchedDupStringFormattingError" style="color:red;visibility:hidden"><bold>
                    Error: translation cannot be empty and string formatting directives (%s, %d etc.)
                    must be in the same order.
                </bold></p>
                <p></p>
                <p>Note: by adding/editing a translation you agree to place your translations
                into <a href="http://en.wikipedia.org/wiki/Public_domain">Public Domain</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </form>
    </div>
</div>
{{end}}

<hr style="margin:4px">
<center style="padding-bottom:12px"><a href="https://github.com/kjk/apptranslator">App Translator</a>, lovingly crafted by <a href="http://blog.kowalczyk.info">Krzysztof Kowalczyk<a></center>

<!-- placed at the end for faster loading -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/s/js/bootstrap.js"></script>
<script src="/s/js/apptranslator.js"></script>

<script>

var prevTranslationValue = "";
function updateEditTransState() {
	var txt = $("#idEditFormString").text();
	prevTranslationValue = $("#idEditFormTrans").val();
	if (canSubmitTranslation(txt, prevTranslationValue)) {
		$("button[type=submit]").removeAttr("disabled");
		$("#mismatchedStringFormattingError").css({"visibility":"hidden"});
	} else {
		$("button[type=submit]").attr("disabled", "disabled");
		$("#mismatchedStringFormattingError").css({"visibility":"visible"});
	}
}

// 1. can't be the same
// 2. their string formatting instructions (%d, %s etc.) match
function canSubmitDuplication(text, translation) {
    var t = $.trim(translation);
    if (t.length == 0) { return false; }
    return stringFormattingModifiersAreSame(text, translation);
}

var prevDupValue = "";
function updateDupTransState() {
    var txt = $("#idDupFormString").text();
    prevDupValue = $("#idDupFormTrans").val();
    if (canSubmitDuplication(txt, prevDupValue)) {
        $("button[type=submit]").removeAttr("disabled");
        $("#mismatchedDupStringFormattingError").css({"visibility":"hidden"});
    } else {
        $("button[type=submit]").attr("disabled", "disabled");
        $("#mismatchedDupStringFormattingError").css({"visibility":"visible"});
    }
}

$(document).ready(function() {

	$(".addbtn").click(function() {
		$("#idEditTransHdr").text("Add a translation");
		var el = $(this).parent().find(".origstr");
		$("#idEditFormString").text(el.text());
		$("#idEditFormTrans").val("");
		$("#idEditTrans").modal('show');
		$("#idEditFormTrans").focus();
		updateEditTransState();
	});

	$(".editbtn").click(function() {
		$("#idEditTransHdr").text("Edit translation");
		var el = $(this).parent().find(".origstr");
		$("#idEditFormString").text(el.text());
		el = $(this).parent().find(".transstr");
		$("#idEditFormTrans").val(el.text());
		$("#idEditTrans").modal('show');
		$("#idEditFormTrans").focus();
		updateEditTransState();
	});

	$("#idEditFormTrans").bind("keyup paste", function(e) {
		if ($(this).val() == prevTranslationValue) { return; }
		updateEditTransState();
	});


    $(".dupbtn").click(function() {
        $("#idDupTransHdr").text("Duplicate translation");
        var el = $(this).parent().find(".origstr");
        $("#idDupFormString").text(el.text());
        $("#idDupFormTrans").text(el.text());
        $("#idDupTrans").modal('show');
        $("#idDupFormTrans").focus();
        updateDupTransState();
    });

    $("#idDupFormTrans").bind("keyup paste", function(e) {
        if ($(this).val() == prevDupValue) { return; }
        updateDupTransState();
    });
});

</script>

</body>
</html>
