<header class="jumbotron subhead" id="overview">
	<h2>App Translator
		<span style="font-size:50%;float:right;">{{if .User}}Logged in as {{.User}} (<a href="/logout?redirect={{.RedirectUrl}}">logout</a>){{else}}Not logged in. <a href="/login?redirect={{.RedirectUrl}}">Log in with Twitter</a>{{end}}</span>
	</h2>
	<p class="lead">Crowd-sourced translations for software.</p>
</header>

{{if len .Apps}}
<p>Applications:</p>
<ul>
  {{range .Apps}}
  <li><a href="/app?name={{.Name}}">{{.Name}}</a> ({{.LangsCount}} languages, {{.StringsCount}} strings, {{.UntranslatedCount}} untranslated in all languages{{if len .Url}}, website: <a href="{{.Url}}">{{.Url}}</a>{{end}})</li>
  {{end}}
</ul>
{{else}}
There are no applications!
{{end}}

<div class="modal hide fade" id="errorMsg">
	<div class="modal-header">
		<a  href="#" class="close" data-dismiss="modal">×</a>
		<h3>Error!</h3>
	</div>
	<div>
		<div class="modal-body">
			{{.ErrorMsg}}
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</form>
	</div>
</div>

<!-- adding an application
{{if .UserIsAdmin}}
<a data-toggle="modal" href="#addApp" class="btn btn-primary btn-mini">Add your applications</a> for translation.
{{else}}
<a href="/login">Log in</a> to add your application.
{{end}}
-->
